.footer-container {
    width: $box-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.25rem 0;
}

.footer__copyright p {
    font-size: .875rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.footer__email span {
    margin-left: .5rem
}

.footer__social-networks ul {
    display: flex;
    gap: 2rem;
    @include reset-list;

    li {
        font-size: 1.25rem; 
    }
}

.footer__logo {
    order: 1;
}

.footer__copyright {
    order: 2;
}

.footer__email {
    order: 3;
}

.footer__social-networks {
    order: 4;
}