/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $montserrat;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $playfair;
    margin: 0;
}

p {
    line-height: 1.5em;
}

a {
    color: $purple;
    text-decoration: none;

    &:hover {
        color: $violet;
    }
}