/* Container widths */
$box-width: 1200px;
$full-width: 100%;

/* Fonts */
$montserrat: "Montserrat", sans-serif;
$playfair: "Playfair Display", sans-serif;

/* Colors */
$fucsia: #ED03CC;
$green: #06BCC1;
$lila: #B076FF;
$pale-blue: #BDD4FF;
$purple: #4D1B82;
$violet: #711BE0;
$white: white;
$yellow: #FFCF00;

/* Background colors */
$bg-purple-25: rgba(77, 27, 130, 0.25);
$bg-purple-35: rgba(77, 27, 130, 0.35);
$bg-purple-50: rgba(77, 27, 130, 0.5);

/* Box shadow */
$shadow: 0px 5px 5px #00000029;